
<div id="content-wrapper">
    <div class="jumbotron">
        <center>
            <h1>2017 World Conflicts Data Observatory</h1>
            <p>A Data Observatory which provides open data visualisation on world conflcits taking place in 2017. Browse through the book store for books which can help you improve your understanding on International Relations, History and literary works which improve the understanding on history.</p>
        </center>
        <center>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
            Sign Up &raquo;
      <% end %>
    </center>
        <center><p><a href="/welcome/about">Learn more &raquo;</a></p></center>
    </div>

<div class="row">
        <!-- <center> -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="category-label">
                    <h2>Conflict Locations</h2>
                </div>
                <div class="imagebox">
                    <a href="/pinmap/index">
                        <img src="/conflict.png" />
                        <div class="main-content">
                            <div class="content">
                                <p>View data on conflicts and clashes per country.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="category-label">
                    <h2>Data Visualisation</h2>
                </div>
                <div class="imagebox">
                    <a href="visualisation/index">
                        <img src="/chart.png" />
                        <div class="main-content">
                            <div class="content">
                                <p>View data in the forms of diagrams and charts</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="category-label">
                    <h2>Table View</h2>
                </div>
                <div class="imagebox">
                    <a href="/datatable/index">
                        <img src="/table.svg" />
                        <div class="main-content">
                            <div class="content">
                                <p>View data in the form of a table with a search function</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="category-label">
                    <h2>Shop</h2>
                </div>
                <div class="imagebox">
                    <a href="/book">
                        <img src="/shop.png" />
                        <div class="main-content">
                            <div class="content">
                                <p>Buy books related to history and international relaitons.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        <!-- </center> -->
    </div>
  </div>
</div>
